#social-bar {
	background-color: $primarycolor;
	color:white;
	.rounded {
		border-radius: 50%;
		border: 1px solid white;
		margin: 10px 10px;
		text-align: center;
		display: inline-flex;
		amp-img {
			margin: 3px auto 0;
			max-width:25px;
		}
	}
}

@media (min-width: 600px) {
	#social-bar {
		margin-top: -40px;
		position: absolute;
		right: -30px;
		padding: 13px 90px 13px 30px; // match padding from grid
		display: flex;
		z-index: 1;
		.rounded {
			margin: 0 10px;
			display: inherit;
			width: 42px;
			height: 42px;
			.facebook {
				margin-left: 8px;
			}
			amp-img {
				margin: 3px auto 0;
				max-width:25px;
			}
		}
	}
}