body, html {
	font-family: $fontfamily;
}
.aligncenter {
	text-align: center;
}
p {
	line-height: 1.5;
}
a {
	font-weight: 600;
	text-decoration:none;
	color: $primarycolor;
}
h2 {
	font-size: 2.275rem;
}