$primarycolor: #F15C22; // Orange
$primarycolor-black: #2C2A29; // Process Black
$secondarycolor: #9EA2A2; // Gray
$textcolor: black;
$gray: #C5C5C5;
$blue: #1C6A8B;
$vividblue: #00afe3;
$lightblue: #a4e5fd;
$lightgray: #F9F9F9;
$darkgray: #3E3E3E;
$boxshadow: 0px 2px 6px rgba(190,190,190,.85);
$fontfamily: 'Montserrat',san-serif;
/*
:root {
  --color-primary: #F15C22;
  --border: #fff;		  
}*/