$primarycolor: #F15C22; // Orange
$primarycolor-black: #2C2A29; // Process Black
$secondarycolor: #9EA2A2; // Gray
$textcolor: black;
$gray: #C5C5C5;
$blue: #1C6A8B;
$lightblue: #a4e5fd;
/*
:root {
  --color-primary: #F15C22;
  --border: #fff;		  
}*/